.video-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  overflow-y: hidden;
  video {
  }
}

@media (max-width: 1024px) {
  .video-background {
    width: auto;
    height: 100vh;
    video: {
      height: 100vh;
    }
  }
}

.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .header-container {
    margin-top: 72px;
    margin-bottom: 48px;
  }
  .content-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}
